
element.style {
}
:root {
    --vw: 100vw;
    --vh: 100vh;
    --headerHeight: 3.9em;
    --adminBar: aliceblue;
}

html {
    background-color: #000;
}
html {
    font-size: 62.5%;
    -webkit-text-size-adjust: none;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    box-sizing: border-box;
}
blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
    margin: 0;
    padding: 0;
}
* {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}
*, :after, :before {
    box-sizing: inherit;
}
html[Attributes Style] {
    -webkit-locale: "en-US";
}
user agent stylesheet
:root {
    view-transition-name: root;
}
user agent stylesheet
html {
    display: block;
}
*, :after, :before {
    box-sizing: inherit;
}
*, :after, :before {
    box-sizing: inherit;
}
